<launch>

	<arg name="use_tool" value="true"/>
	<arg name="tool_tcp" value="0.24"/>
	<arg name="tool_name" value="gripper_body"/><arg name="tool_file" value="$(find apc_gripper)/urdf/gripper.xacro"/>
	<arg name="tool_x" value="0.00"/><arg name="tool_y" value="0"/><arg name="tool_z" value="0"/>
	<arg name="tool_roll" value="0.00"/><arg name="tool_pitch" value="1.57"/><arg name="tool_yaw" value="0"/>
	<param name="robot_description" command="$(find xacro)/xacro '$(find irb140_sim)/urdf/irb140.xacro'
																					tool:=$(arg use_tool) tool_name:=$(arg tool_name) tool_file:=$(arg tool_file)
																					tool_x:=$(arg tool_x) tool_y:=$(arg tool_y) tool_z:=$(arg tool_z)
																					tool_roll:=$(arg tool_roll) tool_pitch:=$(arg tool_pitch) tool_yaw:=$(arg tool_yaw)
																					tool_tcp:=$(arg tool_tcp)"/>


	<!-- combine joint values -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!-- Show in Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find irb140_sim)/config/rviz/rviz_config.rviz"/>

	<!-- send joint values -->
	<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
	  <param name="use_gui" value="True"/>
	</node>

</launch>
