<launch>
	<node pkg="tf" type="static_transform_publisher" name="cam_tf" args="0.5 0 1.3 1.57 0 3.14 world cam_tf 100" />
	<!-- <node pkg="tf" type="static_transform_publisher" name="cam" args="0.5 0 1.3 0 0 0 world cam 100" /> -->

	<!-- Arg to change robot name and be able to spawn multiple robots-->
	<arg name="robot_name" default="/" />

	<!-- Load the urdf into the parameter server. -->
	<arg name="robot_xacro" value="$(find irb140_sim)/urdf/irb140.xacro robot_namespace:=$(arg robot_name)" />

	<param name="robot_description" command="$(find xacro)/xacro $(arg robot_xacro)" />

	<!--Cargar mundo en gazebo-->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="false" />
		<arg name="use_sim_time" value="true" />
		<arg name="gui" value="true" />
		<arg name="recording" value="false" />
		<arg name="debug" value="false" />
		<arg name="world_name" value="$(find irb140_sim)/worlds/picking.world" />
	</include>

	<!--spawnear robot-->
	<node name="irb140_gazebo" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model irb_140 -x 0 -y 0 -z 0" />

	<!--Cargar controladores-->
	<rosparam command="load" file="$(find irb140_sim)/config/joints/joints.yaml" />

	<!--Controladores-->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller arm_controller gripper_controller" />

	<!-- convert joint states to TF transforms for rviz, etc -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<!-- <remap from="/joint_states" to="/irb_140/joint_states" /> -->
	</node>

	<!-- Open Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find irb140_sim)/config/rviz/rviz_gazebo_config.rviz" />

</launch>