<launch>
  <!--Cargar robot-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find multibots)/urdf/irb140.xacro'" />

  <node name="robot1_map" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map robot1_tf/world 50"/>
  <node name="robot2_map" pkg="tf" type="static_transform_publisher" args="1.5 0 0 3.14 0 0 map robot2_tf/world 50"/>
  <!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find multibots)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0 -y 0 -z 0 -R 0 -P 0 -Y 0" />
      <arg name="robot_name"  value="Robot1" />
      <arg name="grupo"  value="robot1" />
    </include>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find multibots)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 1.5 -y 0 -z 0 -R 0 -P 0 -Y 3.14" />
      <arg name="robot_name"  value="Robot2" />
      <arg name="grupo"  value="robot2" />
    </include>
  </group>
</launch>
