<launch>
  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <arg name="use_gui" default="false" />

  <include file="$(find irb140_moveit_bin_pick)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false"/>
  </include>

  <!-- load joint states topic for moveit interface -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <rosparam param="source_list">[irb_140/joint_states]</rosparam>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find irb140_moveit_bin_pick)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="load_robot_description" value="false"/>
  </include>

  <!-- Show in Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find irb140_commander)/config/cfg.rviz"/>

  <!-- cargar los scripts del commander -->
  <node pkg="irb140_commander" type="joint_commander" name="joint_commander" output="screen"/>
  <node pkg="irb140_commander" type="pose_commander" name="pose_commander" output="screen"/>
  <node pkg="irb140_commander" type="path_commander" name="path_commander" output="screen"/>

</launch>
