<launch>
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find apc_gripper_original)/urdf/gripper.xacro'" />

	<!-- combine joint values -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

	<!-- Show in Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args=" -d $(find apc_gripper_original)/launch/config.rviz" />

	<!-- send joint values -->
	<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
	  <param name="use_gui" value="True"/>
	</node>

</launch>