<?xml version="1.0" ?>

<robot name="gripper" xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find apc_gripper_old)/urdf/joints.xacro"/>
<xacro:include filename="$(find apc_gripper_old)/urdf/gripper.gazebo"/>

  <!-- BASE LINK -->

    <link name="gripper_body">
      <inertial>
        <mass value="0.1" />
        <origin rpy="0 0 0" xyz="0 0 0.063" />
        <inertia ixx="0.13292157" ixy="0.0" ixz="0" iyy="0.8980362" iyz="0" izz="0.6991288" />
      </inertial>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <mesh filename="package://apc_gripper_old/meshes/mesh_soporte.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <mesh filename="package://apc_gripper_old/meshes/mesh_soporte.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="blug">
         <color rgba="0 1 1 1"/>
        </material>
      </visual>
    </link>

  <!-- LINKS -->

  <link name="left_ext">
    <inertial>
      <mass value="0.1" />
      <origin rpy="0 0 0" xyz="-0.031 0 0.04" />
      <inertia ixx="0.0000213613" ixy="0" ixz="0" iyy="0.0000595838" iyz="0" izz="0.0000394382" />
    </inertial>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <mesh filename="package://apc_gripper_old/meshes/mesh_eslabon.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <mesh filename="package://apc_gripper_old/meshes/mesh_eslabon.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="blug">
         <color rgba="0 1 1 1"/>
        </material>
      </visual>
    </link>

  <link name="left_int">
    <inertial>
      <mass value="0.1" />
      <origin rpy="0 0 0" xyz="-0.031 0 0.04" />
      <inertia ixx="0.0000213613" ixy="0" ixz="0" iyy="0.0000595838" iyz="0" izz="0.0000394382" />
    </inertial>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <mesh filename="package://apc_gripper_old/meshes/mesh_eslabon.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <mesh filename="package://apc_gripper_old/meshes/mesh_eslabon.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="blug">
         <color rgba="0 1 1 1"/>
        </material>
      </visual>
    </link>

  <link name="right_ext">
    <inertial>
      <mass value="0.1" />
      <origin rpy="0 0 0" xyz="-0.031 0 0.04" />
      <inertia ixx="0.0000213613" ixy="0" ixz="0" iyy="0.0000595838" iyz="0" izz="0.0000394382" />
    </inertial>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <mesh filename="package://apc_gripper_old/meshes/mesh_eslabon.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <mesh filename="package://apc_gripper_old/meshes/mesh_eslabon.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="blug">
         <color rgba="0 1 1 1"/>
        </material>
      </visual>
    </link>

  <link name="right_int">
    <inertial>
      <mass value="0.1" />
      <origin rpy="0 0 0" xyz="-0.031 0 0.04" />
      <inertia ixx="0.0000213613" ixy="0" ixz="0" iyy="0.0000595838" iyz="0" izz="0.0000394382" />
    </inertial>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <mesh filename="package://apc_gripper_old/meshes/mesh_eslabon.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <mesh filename="package://apc_gripper_old/meshes/mesh_eslabon.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="blug">
         <color rgba="0 1 1 1"/>
        </material>
      </visual>
    </link>


  <!-- FINGERS -->

  <!-- LEFT FINGER -->

  <link name="left_finger">
    <inertial>
      <mass value="0.1" />
      <origin rpy="0 0 0" xyz="-0.031 0.018 0.032" />
      <inertia ixx="0.0000847702" ixy="0" ixz="0" iyy="0.0000955040" iyz="0" izz="0.0000331406" />
    </inertial>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <mesh filename="package://apc_gripper_old/meshes/mesh_dedo.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <mesh filename="package://apc_gripper_old/meshes/mesh_dedo.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="white">
         <color rgba="1 1 1 1"/>
        </material>
      </visual>
    </link>

  <!-- RIGHT FINGER -->

<link name="right_finger">
  <inertial>
    <mass value="0.1" />
    <origin rpy="0 0 ${pi}" xyz="-0.031 -0.018 0.032" />
    <inertia ixx="0.0000847702" ixy="0" ixz="0" iyy="0.0000955040" iyz="0" izz="0.0000331406" />
  </inertial>
      <collision>
        <origin rpy="0 0 ${pi}" xyz="-0.0620 0 0" />
        <geometry>
          <mesh filename="package://apc_gripper_old/meshes/mesh_dedo.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <visual>
        <origin rpy="0 0 ${pi}" xyz="-0.0620 0 0" />
        <geometry>
          <mesh filename="package://apc_gripper_old/meshes/mesh_dedo.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="white">
         <color rgba="1 1 1 1"/>
        </material>
      </visual>
    </link>

  <!-- END - Robot description -->

  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world"/>
  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="gripper_body"/>
  </joint>
</robot>
