<launch>

	<param name="robot_description" command="$(find xacro)/xacro '$(find apc_irb140)/urdf/irb140.xacro'" />

	<!-- combine joint values -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!-- send joint values -->
	<!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
		<param name="use_gui" value="True" />
	</node> -->

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
	</node>

	<!-- Show in Rviz -->
	<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find apc_irb140)/config/rviz_config.rviz" /> -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find apc_irb140)/config/rviz_icac.rviz" />
</launch>