<launch>
	<node pkg="tf" type="static_transform_publisher" name="cam_tf" args="0.5 0 1.3 1.57 0 3.14 world cam_tf 100" />
	<!--Cargar mundo en gazebo-->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="false" />
		<arg name="use_sim_time" value="true" />
		<arg name="gui" value="true" />
		<arg name="recording" value="false" />
		<arg name="debug" value="false" />
		<arg name="world_name" value="$(find apc_irb140)/worlds/test.world" />
	</include>

	<!-- Open Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find apc_irb140)/config/rviz/rviz_gazebo_config.rviz" />
</launch>